*{
  padding: 0;
  margin: 0;
  font-family: 'Montagu Slab', serif;
  background: rgb(207, 207, 207);
}


#main-box{
  height: 95vh;
  width: 100vw;

}

.title{
  font-size: 5em;
  text-align: center;
  margin: .5em;
  border-bottom: 1px dotted black;
}

p{
  font-weight: bold;
}

.paragraph{
  font-size: 1.2rem;
  text-align: center;
}

#genghisImage{
  display: flex;
  justify-content: center;
  align-items: center;
}

#genghisImg{
  height: 50vh;
  width: auto;
  padding-top: 7.5vh;
}

#weapons{
  height: 100vh;
  width: 100vw;
}

#horses{
  height: 100vh;
  width: 100vw;
}

#maneuvers{
  height: 100vh;
  width: 100vw;
}

#biopsycho{
  height: 100vh;
  width: 100vw;
}

#wrap{
  height: 100vh;
  width: 100vw;
}
